@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');:root {
 
  --light-green:#CAFCDA;
  --white:#FFFFFF;
  --light-blue:#99BEFB;
  --dark-blue:#0D1A42;
  --grayish-blue:#616a83;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

li {
  list-style-type: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 300;
}

p{
  color: var(--grayish-blue);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6;


}
h1,h2,h3{
  color: var(--dark-blue);
}
a{
  text-decoration: none;
  color: inherit;
}
fieldset,
button,input {
  border: none;
  background: none;
  cursor: pointer;
}
/* START----------------COMMON STYLES----------------START */
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container{
  max-width: 1115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* END----------------COMMON STYLES----------------END */


@media (width <= 990px) {
  .home{
    padding: 5rem 2.4rem;

  }
  .home-inner.container{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .home-image-wrapper{
    margin-right: 0;
  }
  .home-img{
    width: 100%;
  }
  .text-container{
    margin-left: 0;
  }
  .cta-container{
    justify-content: center;

  }
  .category-inner.container,.product-header{
    flex-direction: column;
    align-items: center;
    gap: 3rem;
 
  }
  .product-inner.container{
    grid-template-columns: repeat(2, 1fr);

  }
  
}
@media (width <= 720px) {
  .nav-links-container{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 4rem;
    background-color: white;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 139, 0.121);
    border-radius: 1rem;
    padding: 2rem 0;
    display: none;
  }
  .nav-links-container.show{
    display: flex;
  }
  .toggle-container{
    display: flex;
}

.product-inner.container,.cta-wrapper,.form-container,.footer-inner.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.cta-wrapper{
  gap: 3rem;
}

.dropdown-selected{
  font-size: 1.6rem;
}
.logo-address,.footer-links{
  align-items: center;
  gap: 2rem;
}
.footer-links{
  margin-top: 4rem;
}
}
/* ----------------dark mode styles------------------------- */
.bg-dark{
  background-color: rgb(25, 25, 33);
  transition: .3s ease-in;
}
.text-dark{
  color: rgba(255, 255, 255, 0.847);
  transition: .3s ease-in;

}
.all.text-dark{
  color: rgba(255, 255, 255, 0.847);
  transition: .3s ease-in;

}
.bg-card-dark{
  background-color: rgb(40, 40, 60);
  box-shadow: none;
 
}